name: Test

on:
  push:
    branches:
    - main
  pull_request:
jobs:
  test:
    uses: lufia/workflows/.github/workflows/go-test.yml@862187051b3e08cb09915314465eeec8cfefe569 # v0.9.0
    with:
      os-versions: '["macos-15", "macos-15-intel", "macos-14"]'
